.menu {
    height: 100%;
    padding: 1rem;
    background-color: rgba(250, 251, 253, 1);
    border-radius: 5px;
}

.heading {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.heading span {
    color: #f7542e;
}

.menu--list {
    list-style: none;
    padding: 0 20px;
}

.list--item {
    margin-bottom: 2rem;
    color: rgba(158, 158, 158, 1);
}

.active {
    color: black;
}

@media (max-width:720px){
    .menu{
        height: auto;
    }
}